<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="css/admin.css">
</head>

<body>
  <header>
    <div class="logo">
      <img src="images/Natural Organic Green Tea Logo 1.png" alt="Logo">
    </div>
    <div class="user-info">
      <span>Hello <p th:if="${adminName}" th:text="${adminName}"></p></span>
      <a href="/logout" class="logout-btn">LOGOUT &#8594;</a>
    </div>
  </header>


  <main>
    <div class="dashboard">
      <div class="welcome-message" >
        <h1>Welcome to your Dashboard, Admin !!</h1>
        <p>1. <strong>Refreshing Your Dashboard:</strong> You can refresh your dashboard anytime by clicking on the
          Chiya Sansar logo located on the left side of the navbar.</p>
        <p>2. <strong>Pending Orders:</strong> Check your pending orders, those placed but not yet delivered, by
          clicking on the "Pending Orders" button in the navbar.</p>
      </div>
      <div class="controls">
        

        <p th:if="${error}" style="color: red;" th:text="${error}"></p>
        <p th:if="${success}" style="color: green;" th:text="${success}"></p>
       
        <div class="buttons">
          <a href="/addproduct">ADD THE PRODUCT</a>
          <a href="/orders">PENDING ORDERS</a>
          
        </div>
        <a href="/productsforstocks" class="buttoned">UPDATE STOCKS</a>
      </div>
    </div>
  </main>


  <footer class="footer">
    <div class="footer-content">
      <div class="footer-logo">
        <img src="images/Natural Organic Green Tea Logo 1.png" alt="Chiya Sansar Logo" class="logo">
        <!-- Replace with your logo path -->

      </div>
      <div class="footer-contact">
        <h4>Contact Information</h4>
        <p>Phone: 01-41414141</p>
        <p>Email: chiyasansar@gmail.com</p>
        <div class="social-icons">
          <a href="#"><img src="images/download 48.png" alt="Facebook"></a> <!-- Replace icons with actual paths -->
          <a href="#"><img src="images/download 49.png" alt="Instagram"></a>
        </div>
      </div>

      <div class="footer-credits">
        <h4>Website Created by</h4>
        <p>Pragya Chauhan & Sameer Khatri</p>
      </div>
    </div>

    <div class="footer-bottom">
      <hr>
      <p>&copy; 2024 by Chiya Sansar | All rights Reserved |</p>
    </div>
  </footer>
</body>

</html>